[submodule "model/skk-dev-dict"]
	path = model/skk-dev-dict
	url = https://github.com/skk-dev/dict.git
[submodule "akaza-data/skk-dev-dict"]
	path = akaza-data/skk-dev-dict
	url = https://github.com/skk-dev/dict.git
[submodule "akaza-data/jawiki-kana-kanji-dict"]
	path = akaza-data/jawiki-kana-kanji-dict
	url = https://github.com/tokuhirom/jawiki-kana-kanji-dict.git
[submodule "akaza-data/pybind11"]
	path = akaza-data/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "akaza-data/picotest"]
	path = akaza-data/picotest
	url = https://github.com/h2o/picotest.git
